__pycache__/chat_bot.cpython-311.pyc
__pycache__/document_loader.cpython-311.pyc
__pycache__/response_generator.cpython-311.pyc
__pycache__/retriever.cpython-311.pyc
chat/__pycache__/chat_bot.cpython-311.pyc
chroma_db/chroma.sqlite3
chroma_db/676f8782-a4ad-43cd-9fa2-d6d190a9ce8a/data_level0.bin
chroma_db/676f8782-a4ad-43cd-9fa2-d6d190a9ce8a/header.bin
chroma_db/676f8782-a4ad-43cd-9fa2-d6d190a9ce8a/length.bin
chroma_db/676f8782-a4ad-43cd-9fa2-d6d190a9ce8a/link_lists.bin
images/figure-1-1.jpg
images/figure-2-2.jpg
images/figure-4-3.jpg
generator/__pycache__/response_generator.cpython-311.pyc
loader/__pycache__/document_loader.cpython-311.pyc
store/__pycache__/store.cpython-311.pyc
store/__pycache__/vector_store.cpython-311.pyc
splitter/__pycache__/text_splitter.cpython-311.pyc
retriever/__pycache__/retriever.cpython-311.pyc
retriever/__pycache__/similarity_retriever.cpython-311.pyc
.env
